.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  transition: color 0.3s;
}

.link_active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f2f2f3;
}

.link:hover {
  color: #f2f2f3;
}
